/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


@font-face {
    font-family: 'van_condensedregular';
    src: url('van_condensed-regular-webfont.woff2') format('woff2'),
         url('van_condensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'entyporegular';
    src: url('Entypo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal; 
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

h1, h2, h3, h4, h5, h6 { 
  font-weight: 400; 
  line-height: 1.1; 
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 500;
}

small {
  font-size: 75%;
}

p {
  margin: 1.46rem 0;
}

a {
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #009688;
  text-decoration: none;
}

/**** ADD CSS HERE ****/
 body {
  font-family: 'van_condensedregular';
}

.question-navigator {
  display: flex;
}

.question-navigator .control {
  font-family: "Entyporegular";
  padding: 0 10px;
  margin: auto;
  font-size: 50px;
  width: 70px;
  flex-basis:auto;
}

.middle {
  margin: auto;
  flex-grow: 2;
}

.question-viewer {
  width: 600px;
  margin: auto;
}

.reset {
  clear: both;
  display: block;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  font-size: smaller;
}


.question .category {
  margin-bottom: 10px;
}

.question .question-text {
  margin-bottom: 30px;
}

.question .question-answers {
  margin-top: 10px;
  overflow: hidden;
}

.question .question-answer-container {
  display: block;
  float: left;
}

.question .question-answer {
  display: block;
  border: solid 1px gray;
  border-left: none;
  padding: 10px;
  width: 75px;
}

.question .question-answer-label {
  margin-top: 10px;
  font-size: x-small;
  white-space: nowrap;
  width: 75px;
}

.question .question-answer.first {
  border-left: solid 1px gray;
  border-radius: 2px 0 0 2px;
}

.question .question-answer.last {
  border-radius: 0 2px 2px 0;
}

.question .question-answer.selected {
  color: white;
  background-color: #009688;
}

.results {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.results .badge-container {
  align-self: center;
}

.results .badge {
  margin: auto;
  display: flex;
  float: left;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.results .badge .badge-text {
  font-family: 'brandon-grotesque','van_condensedregular',sans-serif;
  font-weight: bold;
  margin: auto;
  font-size: 77px;
  color: white;
  padding-top: 18px;
}

.results .badge.gold {
  background-color: gold;
  background-image: url("/gold.png");
  background-size: 100% 100%;
}

.results .badge.silver {
  background-color: silver;
  background-image: url("/silver.png");
  background-size: 100% 100%;
}

.results .badge.bronze {
  background-color: #CD7F32;
  background-image: url("/bronze.png");
  background-size: 100% 100%;
}
